<!-- <link rel="stylesheet" href="/css/all.min.css"> -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<div class="navbar">
  <div style="display: flex; align-items: center; gap: 16px;">
    <button class="menu-toggle" id="menu-toggle" aria-label="Toggle sidebar">☰</button>
    <h1>Admin Dashboard</h1>
  </div>
  <div class="profile-info">
    <% if (user) { %>
      <strong>
        <%= user.username %>
      </strong> | <%= user.email %>
        <% } else { %>
          <a href="/login">Login</a>
          <% } %>
  </div>

</div>

<div class="container">
  <nav class="sidebar" id="sidebar">
    <a href="/profile"> Dashboard</a>
    <a href="/profile/mysite"> My Sites</a>
    <a href="/profile/templates">Templates</a>
    <!-- <a href="#">Analytics</a>
      <a href="#">Account</a> -->

    <a href="/logout" class="logout-btn">🚪 Logout</a>
  </nav>